:root{
    --blueColor: rgb(16, 69, 145);
    --borderGrey: rgb(177, 178, 179);
    background: rgb(236, 240, 241);
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}
li{list-style: none;}
header{
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--blueColor);
}
.header_bloc_1{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
#logo{
    width: 250px;
    height: 250px;
}
#titles{text-align: center;}
#titles > h1{
    font-size: 35px;
}
#titles > h2{
    font-weight: 100;
}
.form_bloc > .upForm_links{
    display: flex;
    margin-top: 15px;
}
.form_bloc > .upForm_links > a{
margin: 0 4px;
}
.form_bloc > .upForm_links > a > span{
    color: var(--blueColor);
}
.form_bloc > form{
    width: 200px;
    height: 32px;
    margin: 10px auto;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    padding-right: 30px;
}

.form_bloc > form > input{
    border: none;
    outline: none;
    text-indent: 7px;
    font-size: 15px;
}
.form_bloc > form > button{
    background: transparent;
    border: none;
    outline: none;
}
.form_bloc > form > button > img{
    width: 25px;
    height: 25px;
}
header > nav {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--borderGrey);
    border-bottom: 2px solid var(--borderGrey);
}
header > nav > div{
    width: 100%;
    text-align: center;
}
header > nav > div > a{
    font-size: 16px;
    color: var(--blueColor);
    padding: 15px;
}
header > nav > div span{
    color: var(--borderGrey);
    font-size: 27px;
}
main{
    width: 955px;
    height: auto;
    margin: 30px auto;
}
.a_minus{
    font-size: 12px;
    font-weight: bolder;
    margin-top: 6px;
}
.access{
    display: flex;
    justify-content: space-between;
    
}
.access > .one{
    display: flex;
    font-size: 14px;
}
.one span{margin: 0 3px;}
.one span:last-of-type{
    font-weight: bolder;
    color: var(--blueColor);
}
.two{
    display: flex;
}
.two span{
    color: var(--blueColor);
}
.two span:first-of-type{
    font-size: 20px;
    font-weight: bolder;
}
.two img{
    width: 35px;
    height: 35px;
    transform: translateY(-7px);
}
.container{
    width: 100%;
    height: auto;
    display: flex;
}
.card{
    width: auto;
    height: auto;
    margin: 10px auto;
    background-color: #fff;
    border-top: 4px solid rgb(16, 69, 145);
    border-right: .5px solid #ddd;
    border-bottom: .5px solid grey;
    border-left: .5px solid #ddd;
  }
  .big_card{width: 70%;}
  .little_card{
    width: 27%;
    margin-left: 3%;
    display: block;
    }
   .card > .heading{
     color: rgb(16, 69, 145);
     text-align: normal;
     padding: 10px;
     margin-bottom: 3px;
     border-bottom: .5px solid #ddd;
   }
   .heading > span{
     font-size: large;
     font-weight: bolder;
   }
   .card > .content{
     padding: 8px;
     font-size: 14px;
   }
   .content > .bloc{
       width: auto;
       height: auto;
       margin-bottom: 25px;
       display: flex;
       flex-direction: column;
       font-size: 12px;
   }
   .content > .links{
       display: flex;
       flex-direction: column;
   }
   .sub_box{
       width: auto;
       height: auto;
       padding: 5px;
       background: rgb(246, 246, 246);
       border: 2px solid #fff;
   }
   .sub_box > .heading > span{
       color: var(--blueColor);
   }
   .sub_box > .heading > img{
       width: 35px;
       height: 35px;
    }
   .bloc_head{display: flex;}
   .bloc_head span{
       font-weight: bolder;
       color: var(--blueColor);
       margin-left: 10px;
   }
   .bloc_head span a:hover{text-decoration: underline;}
   .bloc > .text{
       border-left: .5px solid #2196F3;
    }
    .pl-0{
        padding: 0;
        margin-right: 25px;
    }
    .text > .uncolored_zone{
        padding: 10px;
    }
    .text > .blue_zone{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    background: #bbdffd;
    padding: 10px;
}
.blue_zone > p > img{margin-right: 3px;}
.uncolored_zone > p > a{color: #000;}
.uncolored_zone > p > a:hover{text-decoration: underline;}
.blue_zone > p > a{color: #000;}
.blue_zone > p > a:hover{text-decoration: underline;}
.content hr{
    width: auto;
    height: 0px;
    border: .5px solid var(--blueColor);
}
.content > .text{font-size: 13px;}
.up_link{
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
}
footer{
    width: 100%;
    height: 250px;
    background: #323136;
    display: flex;
    justify-content: space-evenly;
}
[class*="footer_block_"] h2{
    width: fit-content;
    color: white;
    border-bottom: 2px solid #fff;
}
[class*="footer_block_"] > .f_links {
    display: flex;
}
.f_links > div{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.f_links > div > a{line-height: 30px;}
footer a {
    color: #fff;
    display: inline-block;
}
.wifi_blanc{
    width: 27px;
    height: 27px;
}
#a_plus{
    font-size: 21px;
    color: #fff;
}